/********** Mobile screen size ****************/
@media screen and (max-width: 800px) {
    #mobile-menu {
        position: absolute;
        display: block;
        right: 0;
        cursor: pointer;
        margin: 25px 10px 0 10px;
        color: white;
    }

    #home-page {
        width: 100vw;
        height: 100vh;
    }

    #work-page {
        width: 100vw;
        height: 100vh;
    }

    #about-page {
        width: 100vw;
        height: 100vh;
        background-color: wheat;
    }

    #contact-page {
    width: 100vw;
    height: 100vh;
    background-color: #d9a7c7;
    }

    #navbar__logo {
        position: absolute;
        background: #EDE574;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-size: 2rem;
        height: 2.5rem;
        margin: 20px 0 0 20px;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .navbar {
        position: fixed;
        z-index: 100;
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-size: 1.5rem;
        width: 100vw;
        height: 10vh;
    }

    /** hide the text when it comes to mobile screen **/
    .navbar__menu {
        display: none;
    }

    /** when clicked on navbar menu, shows this code **/
    .navbar__menu.active {
        position: fixed;
        display: grid;
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 100%;
        top: 10%;
        height: 35vh;
        text-align: center;
    }

    .navbar__link {
        background: #d9a7c7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .scroller {
        height: 100vh;
        width: 100vw;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
    }

    .scroller section {
        height: 100vh;
        scroll-snap-align: start;
    }

    .hero {
        position: relative;
        width: 100vw;
        height: 100vh;
    }

    .hero__image {
        object-fit: fill;
        width: 100vw;
        height: 120vh;
    }

    .hero__portfolio {
        position: absolute;
        top: 20%;
        font-size: 110px;
        left: 3%;
        background: #373B44;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: introduction 20s;
    }

    .hero__name {
        position: absolute;
        top: 25%;
        font-size: 90px;
        left: 5%;
        background: #0f0c29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: introduction 10s;
    }

    @keyframes introduction {
        from {
            left: 0;
        }

        to {
            right: 5%;
        }
    }

    .hero__quote {
        position: absolute;
        bottom: 30%;
        font-size: 40px;
        font-weight: lighter;
        font-style: italic;
        left: 30%;
        background: #360033;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: fade 15s;
    }

    @keyframes fade {
        from {
            bottom: -15%;
        }

        to {
            bottom: 30%;
        }
    }

    .hero--quote {
        position: absolute;
        bottom: 25%;
        font-size: 30px;
        font-weight: lighter;
        font-style: italic;
        left: 55%;
        background: #1e3c72;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: fadeIn 15s;
    }

    @keyframes fadeIn {
        from {
            bottom: -25%;
        }

        to {
            bottom: 25%;
        }
    }

    .work {
        position: relative;
        width: 100vw;
        height: 100vh;
    }

    .work__image {
        position: absolute;
        top: 10%;
        width: 100vw;
        height: 50vh;
    }

    .work__title {
        position: absolute;
        width: 100%;
        height: 100vh;
    }

    .work--title:nth-child(1) {
        position: absolute;
        top: 60%;
        font-size: 50px;
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: top 27s;
    }

    .work--title:nth-child(2) {
        position: absolute;
        top: 65%;
        left: 10%;
        font-size: 50px;
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: bottom 27s;
    }

    .work--title:nth-child(3) {
        position: absolute;
        top: 70%;
        left: 18%;
        font-size: 50px;
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: top 27s;
    }

    .work--title:nth-child(4) {
        position: absolute;
        top: 75%;
        left: 26%;
        font-size: 50px;
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: bottom 27s;
    }

    .work--title:nth-child(5) {
        position: absolute;
        top: 80%;
        left: 34%;
        font-size: 50px;
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: top 27s;
    }

    .work--title:nth-child(6) {
        position: absolute;
        top: 75%;
        left: 40%;
        font-size: 50px;
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: bottom 27s;
    }

    .work--title:nth-child(7) {
        position: absolute;
        top: 70%;
        left: 48%;
        font-size: 50px;
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: top 27s;
    }

    .work--title:nth-child(8) {
        position: absolute;
        top: 65%;
        right: 30%;
        font-size: 50px;
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: bottom 27s;
    }

    .work--title:nth-child(9) {
        position: absolute;
        top: 60%;
        right: 22%;
        font-size: 50px;
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: top 27s;
    }

    .work--title:nth-child(10) {
        position: absolute;
        top: 65%;
        right: 13.5%;
        font-size: 50px;
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: bottom 27s;
    }

    .work--title:nth-child(11) {
        position: absolute;
        top: 70%;
        right: 7%;
        font-size: 50px;
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: top 27s;
    }

    .work--title:nth-child(12) {
        position: absolute;
        top: 75%;
        right: 0;
        font-size: 50px;
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: bottom 27s;
    }

    @keyframes top {
        from {
            top: 0;
        }

        to {
            bottom: 0;
        }
    }

    @keyframes bottom {
        from {
            bottom: 0;
        }

        to {
            bottom: 75%;
        }
    }
}

/*********** Macbook display size *****************/
@media screen and (min-width: 801px) {

    #mobile-menu {
        visibility: hidden;
    }

    #home-page {
        width: 100vw;
        height: 100vh;
    }

    #work-page {
        width: 100vw;
        height: 100vh;
    }

    #about-page {
        width: 100vw;
        height: 100vh;
        background-color: wheat;
    }

    #contact-page {
    width: 100vw;
    height: 100vh;
    background-color: #d9a7c7;
    }

    #navbar__logo {
        position: absolute;
        background: #EDE574;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-size: 2rem;
        height: 2.5rem;
        margin: 20px 0 0 20px;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .navbar {
        position: fixed;
        z-index: 100;
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-size: 1.5rem;
        width: 100vw;
        height: 10vh;
    }

    /** Får linkene på andre siden **/
    .navbar__container {
        display: flex;
        justify-content: space-between;
    }

    /** få teksten til å være på en lik linje **/
    .navbar__menu {
        display: flex;
        margin: 20px 0 0 20px;
    }

    /* endrer på selve linkene */
    .navbar__link {
        margin: 10px 20px 0 10px;
        text-decoration: none;
        background: #d9a7c7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .scroller {
        height: 100vh;
        width: 100vw;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
    }

    .scroller section {
        height: 100vh;
        scroll-snap-align: start;
    }

    .hero {
        position: relative;
        width: 100vw;
        height: 100vh;
    }

    .hero__image {
        width: 100vw;
        height: 100vh;
    }

    .hero__portfolio {
        position: absolute;
        top: 20%;
        font-size: 300px;
        left: 3%;
        background: #373B44;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hero__name {
        position: absolute;
        top: 35%;
        font-size: 250px;
        left: 5%;
        background: #0f0c29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hero__quote {
        position: absolute;
        top: 80%;
        font-size: 40px;
        font-weight: lighter;
        font-style: italic;
        right: 5%;
        background: #360033;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hero--quote {
        position: absolute;
        top: 87%;
        font-size: 30px;
        font-weight: lighter;
        font-style: italic;
        right: 10%;
        background: #1e3c72;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        }

    .work {
        position: relative;
        width: 100vw;
        height: 100vh;
        background: #005AA7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-clip: text;
    }

    .work__image {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 2%;
    }

    .work__title {
        position: absolute;
        bottom: 50%;
        left: 15%;
        font-size: 200px;
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    .work--title {
        position: absolute;
        top: 70%;
        left: 55%;
        font-size: 200px;
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}

/********** Home desktop 1920 x 1020 *************/
@media screen and (min-width: 1800px) {
    #mobile-menu {
        visibility: hidden;
    }

    #home-page {
        width: 100vw;
        height: 100vh
    }

    #work-page {
        width: 100vw;
        height: 100vh;
    }

    #about-page {
        width: 100vw;
        height: 100vh;
        background-color: wheat;
    }

    #contact-page {
        width: 100vw;
        height: 100vh;
        background-color: #d9a7c7;
    }

    #navbar__logo {
        position: absolute;
        background: #EDE574;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-size: 2rem;
        height: 2.5rem;
        margin: 20px 0 0 20px;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .navbar {
        position: fixed;
        z-index: 100;
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-size: 1.5rem;
        width: 99vw;
        height: 10vh;
    }
    
    /* Får linkene på andre siden */
    .navbar__container {
        display: flex;
        justify-content: space-between;
    }

    /* få teksten til å være på en lik linje */
    .navbar__menu {
        display: flex;
        margin: 20px 0 0 20px;
    }

    /* endrer på selve linkene */
    .navbar__link {
        margin: 10px 20px 0 10px;
        text-decoration: none;
        background: #d9a7c7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .scroller {
        height: 100vh;
        width: 100vw;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
    }

    .scroller section {
        height: 100vh;
        scroll-snap-align: start;
    }

    .hero {
        position: relative;
        width: 100vw;
        height: 100vh;
    }

    .hero__image {
        object-fit: cover;
        height: 100vh;
    }

    .hero__portfolio {
        position: absolute;
        top: 0;
        font-size: 450px;
        left: 3%;
        background: #373B44;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hero__name {
        position: absolute;
        top: 15%;
        font-size: 400px;
        left: 5%;
        background: #0f0c29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hero__quote {
        position: absolute;
        top: 80%;
        font-size: 60px;
        font-weight: lighter;
        font-style: italic;
        right: 5%;
        background: #360033;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hero--quote {
        position: absolute;
        top: 87%;
        font-size: 30px;
        font-weight: lighter;
        font-style: italic;
        right: 6%;
        background: #1e3c72;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .work {
        position: relative;
        width: 100vw;
        height: 400vh;
        background: #005AA7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-clip: text;
    }

    .work__image {
        position: absolute;
        width: 100vw;
        height: 100vh;
    }

    .work__title {
        position: absolute;
        bottom: 50%;
        left: 15%;
        font-size: 200px;
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .work--title {
        position: absolute;
        top: 70%;
        left: 55%;
        font-size: 200px;
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}